{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h2>Alunos</h2>
    </div>
    <form method="get" class="mt-3">
        <input
    type="text"
    name="q"
    value="{{ request.GET.q }}"
    class="form-control"
    placeholder="Pesquisar aluno">
    </form>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Processo</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Turma</th>
                <th>Encarregado</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.numero_processo }} </td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.calcular_idade }}</td>
                <td>{{ aluno.turma }}</td>
                <td>{{ aluno.encarregado }}</td>
                <td>{{ aluno.get_estado_display }}</td>
                <td>

    <a href="{% url 'aluno_detalhe' aluno.id %}"
       class="btn btn-info btn-sm">Detalhes</a>
</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}