{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            Eliminar Avaliação

        </div>

        <div class="card-body">

            <p>

                Deseja eliminar esta avaliação?

            </p>

            <form method="post">

                {% csrf_token %}

                <button
                    type="submit"
                    class="btn btn-danger">

                    Confirmar

                </button>

                <a href="{% url 'avaliacao_lista' %}"
                   class="btn btn-secondary">

                    Cancelar

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}