{% extends 'base.html' %}
{% block title %}
Meus Educandos
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Meus Educandos</h2>

    <div class="row g-3 mt-2">
        {% for aluno in dependentes %}
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ aluno.nome }}</h5>
                    <p class="card-text text-muted">{{ aluno.turma }}</p>
                    <a href="{% url 'notas_dependente' aluno.id %}" class="btn btn-primary btn-sm">
                        Ver Pautas
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Não tem educandos associados.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
