<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            Gestão de Pautas Escolar
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarPrincipal"
                aria-controls="navbarPrincipal"
                aria-expanded="false"
                aria-label="Abrir menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarPrincipal">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text text-warning me-lg-3">
                            Bem-vindo, <strong>{{ user.username }}</strong>
                        </span>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        Dashboard
                    </a>
                </li>

                {% if eh_administrador_nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">
                        Painel Admin
                    </a>
                </li>
                {% endif %}

                {% if eh_administrador_nav %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menuCadastros"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Cadastros
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="menuCadastros">
                        <li><a class="dropdown-item" href="{% url 'aluno_lista' %}">Estudantes</a></li>
                        <!--<li><a class="dropdown-item" href="{% url 'encarregado_lista' %}">Encarregados</a></li>-->
                        <li><a class="dropdown-item" href="{% url 'professor_lista' %}">Professores</a></li>
                        <li><a class="dropdown-item" href="{% url 'turma_lista' %}">Turmas</a></li>
                        <!--<li><a class="dropdown-item" href="{% url 'disciplina_lista' %}">Disciplinas</a></li>-->
                        <li><hr class="dropdown-divider"></li>
                        <!--<li><a class="dropdown-item" href="{% url 'diretor_turma_lista' %}">Diretores de Turma</a></li>-->
                        <li><a class="dropdown-item" href="{% url 'periodo_lista' %}">Períodos de Lançamento</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if eh_administrador_nav %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menuAcademico"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Académico
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="menuAcademico">
                        <li><a class="dropdown-item" href="{% url 'avaliacao_lista' %}">Avaliações / Pautas</a></li>
                        <li><a class="dropdown-item" href="{% url 'nota_lista' %}">Notas</a></li>
                        <li><a class="dropdown-item" href="{% url 'atribuicao_lista' %}">Atribuições Docentes</a></li>
                        <li><a class="dropdown-item" href="{% url 'resultado_lista' %}">Resultados Finais</a></li>
                        <li><a class="dropdown-item" href="{% url 'mini_pauta_trimestral' %}">Mini-Pauta Trimestral</a></li>
                        <li><a class="dropdown-item" href="{% url 'frequencia_lista' %}">Frequências</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if eh_professor_nav %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menuEnsino"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Ensino
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="menuEnsino">
                        <li><a class="dropdown-item" href="{% url 'aluno_lista' %}">Alunos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menuAvaliacoes"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Avaliações
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="menuAvaliacoes">
                        <li><a class="dropdown-item" href="{% url 'lancamento_notas' %}">Lançar Notas</a></li>
                        <li><a class="dropdown-item" href="{% url 'avaliacao_lista' %}">Avaliações / Pautas</a></li>
                        <li><a class="dropdown-item" href="{% url 'pauta_final_turma' %}">Pauta-Geral</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="menuFrequencia"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Frequência
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="menuFrequencia">
                        <li><a class="dropdown-item" href="{% url 'frequencia_lista' %}">Frequências</a></li>
                        <li><a class="dropdown-item" href="{% url 'justificacao_lista' %}">Justificações</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'relatorios_professor' %}">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">Conta</a>
                </li>
                {% endif %}

                {% if eh_aluno_nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'minhas_notas' %}">Minhas Pautas</a>
                </li>
                {% endif %}

                {% if eh_encarregado_nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meus_dependentes' %}">Meus Educandos</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'notificacao_lista' %}">
                        Notificações
                        {% if notificacoes_nao_lidas %}
                        <span class="badge rounded-pill bg-danger">{{ notificacoes_nao_lidas }}</span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
