{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        Gestão de Pautas
        {% endblock %}
    </title>
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'includes/messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
