{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        Gestão de Pautas
        {% endblock %}
    </title>
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
    <div class="container-fluid page-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="{% if eh_administrador_nav %}admin-layout d-flex align-items-start{% endif %}">
                    {% if eh_administrador_nav %}{% include 'includes/sidebar_admin.html' %}{% endif %}
                    <div class="{% if eh_administrador_nav %}admin-main flex-grow-1{% endif %}">
                        {% include 'includes/messages.html' %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <footer>
    <p style="color: white; background:#0d6efd;; text-align:center; padding:12px;">&copy; 2026 Sistema de Gestão de Pautas</p>
</footer>
</body>
</html>
