{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Lançamento de Notas</h2>

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Aluno</th>
                <th>MAC</th>
                <th>NPP</th>
                <th>NPT</th>
                <th>MT</th>

            </tr>

        </thead>

        <tbody>

            {% for nota in notas %}

            <tr>

                <td>{{ nota.aluno }}</td>

                <td>{{ nota.mac }}</td>

                <td>{{ nota.npp }}</td>

                <td>{{ nota.npt }}</td>

                <td>{{ nota.mt }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}